[submodule "week-4/Bookmarks"]
	path = week-4/Bookmarks
	url = https://github.com/blessingaliu/Bookmarks
[submodule "week-5/makersBnb"]
	path = week-5/makersBnb
	url = https://github.com/blessingaliu/MakersBnb
